.showcase {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 100px;
    min-height: 100vh;
    transition: left 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.showcase.active {
    left: -250px;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.showcase .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #03a9f4;
    opacity: 0.8;
    mix-blend-mode: overlay;
}

.showcase .logo {
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.showcase .header {
    position: relative;
    color: #fff;
    text-transform: uppercase;
}

.showcase .header h1 {
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.1;
}

.showcase .header h2 {
    font-size: 4rem;
    line-height: 1.3;
}

.showcase .header p {
    margin: 10px 0 30px 0;
    font-size: 1.1rem;
    line-height: 1.6;
}

.showcase .header .cta {
    display: inline-block;
    padding: 10px 30px;
    margin: 0 0 15px 0;
    background-color: #fff;
    color: #000;
    font-weight: 500;
    letter-spacing: 2px;
    transition: 0.3s ease-in-out;
}

.showcase .header .cta:hover {
    letter-spacing: 6px;
}

.showcase .socials {
    position: absolute;
    bottom: 40px;
    filter: invert(1);
    display: flex;
    align-items: center;
}

.showcase .socials li {
    transition: 0.3s ease-in-out;
    margin: 0 40px 0 0;
}

.showcase .socials li:hover {
    transform: translateY(-15px);
}

.hamburger {
    position: absolute;
    top: 40px;
    right: 30px;
    width: 30px;
    height: 31px;
    background-image: url('/assets/images/menu.png');
}

.hamburger.active {
    width: 35px;
    height: 38px;
    filter: invert(1);
    background-image: url('/assets/images/close.png');
    z-index: 2;
}

.mobile-menu {
    position: fixed;
    right: -250px;
    width: 250px;
    min-height: 100vh;
    background-color: #fff;
    font-size: 1.5rem;
    transition: right 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-menu.active {
    right: 0px;
}

/* mobile */
@media (max-width: 45rem) {
    .showcase {
        padding: 120px 20px;
    }

    .showcase .logo {
        top: 20px;
        left: 20px;
    }
}

@media (max-width: 26rem) {
    .showcase .header h1 {
        font-size: 4rem;
    }

    .showcase .header h2 {
        font-size: 3rem;
    }
}